/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-text-color: #F1B2CE;
  --main-background-color: #000028;
  --main-header-title-color: #DB00FF;
  --main-article-title-color: #FF0070;
  --main-nav-text-color: #FF0070;
  --main-title-color: #000028;
  --main-title-background-color: #FF0070;
  --accent-color: #FF0070;

  background-image: url("../images/cover-image-dark.png");

  .header__rec-decor {
    opacity: 1;
  }
  
  .decorated-zone::after {
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
  }
  
  .decorated-zone::before {
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
  }
  
  .header__theme-menu-button:hover {
    outline: 1px solid rgba(255, 0, 112, 0.40);
  }
  
  .article_list-item__link {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--main-title-background-color);;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --main-text-color: #F1B2CE;
    --main-background-color: #000028;
    --main-header-title-color: #DB00FF;
    --main-article-title-color: #FF0070;
    --main-nav-text-color: #FF0070;
    --main-title-color: #000028;
    --main-title-background-color: #FF0070;
    --accent-color: #FF0070;
  }

  .decorated-zone::after {
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
  }

  .decorated-zone::before {
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
  }

  .header__theme-menu-button:hover {
    outline: 1px solid rgba(255, 0, 112, 0.40);
  }

  .article_list-item__link {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--main-title-background-color);;
  }
}