/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --main-text-color: #353430;
  --main-background-color: #FFF1F7;
  --main-header-title-color: #FFC2E6;
  --main-article-title-color: #353430;
  --main-nav-text-color: #353430;
  --main-title-color: #353430;
  --main-title-background-color: #FF8DCB;
    
  background-image: url("../images/cover-image-light.png");

  .header__rec-decor {
    opacity: 0;
  }
  
  .decorated-zone::after {
    border-bottom: 1px solid var(--main-text-color);
    border-left: 1px solid var(--main-text-color);
  }
  
  .decorated-zone::before {
    border-top: 1px solid var(--main-text-color);
    border-right: 1px solid var(--main-text-color);
  }
  
  .header__theme-menu-button:hover {
    outline: 1px solid rgba(50, 49, 45, 0.40);
  }
  
  .article_list-item__link {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--main-title-background-color);
  }
}



@media (prefers-color-scheme: light) {
  
  .page {
    /* Дублируем переменные светлой темы */    
    --main-text-color: #353430;
    --main-background-color: #FFF1F7;
    --main-header-title-color: #FFC2E6;
    --main-article-title-color: #353430;
    --main-nav-text-color: #353430;
    --main-title-color: #353430;
    --main-title-background-color: #FF8DCB;

    background-image: url("../images/cover-image-light.png");
  }

  .header__rec-decor {
    opacity: 0;
  }

  .decorated-zone::after {
    border-bottom: 1px solid var(--main-text-color);
    border-left: 1px solid var(--main-text-color);
  }

  .decorated-zone::before {
    border-top: 1px solid var(--main-text-color);
    border-right: 1px solid var(--main-text-color);
  }

  .header__theme-menu-button:hover {
    outline: 1px solid rgba(50, 49, 45, 0.40);
  }

  .article_list-item__link {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--main-title-background-color);;
  }
}

/* Остальные стили */